/*
 *	Sistemas de grid com 4 colunas.
 *	@author André Timm
 */
.row:before,
.row:after {
  content: " ";
  display: table;
}
 
.row:after {
  clear: both;
}

.row, .col {
  box-sizing: border-box;
}

.row {
    margin-bottom: 1em;
}

.row:last-child {
    margin-bottom: 0;
}

.col {
  position: relative;
  float: left;
  word-wrap: break-word;
}

/*
 *	mr = mp / mc
 *
 *	Onde:
 *
 *	mr = margem em porcentagem
 *	mp = margem em pixel
 *  mc = máximo de colunas
 */
.col + .col {
  margin-left: 1.25%;
}

/*
 *	scw = (100 – (m * (mc – 1))) / mc
 *
 *	Onde:
 *
 *	scw = largura da coluna única
 *	m = margin (1.25)
 *	mc = máximo de colunas (4)
 *
 *	cw = (scw * cs) + (m * (cs – 1))
 *
 *	Onde:
 *
 *	cw = largura da coluna
 *	scw = largura da coluna única (24.0625%)
 *	cs = column span (1-4)
 *	m = margin (1.25%)
 */
 .col-1{
 	width: 24.0625%;
 }

 .col-2{
 	width: 49.36%;
 }

 .col-3{
 	width: 74.6875%;
 }

 .col-4{
 	width: 100%;
 }

 /*
  * Mobile
  */
 @media only screen and (max-width: 550px) {
	.row {
		margin-bottom: 0;
	}
	.col {
		margin-bottom: 10px;
	}
	.row:last-child .column:last-child {
		margin-bottom: 0;
	}
	.col-1,
	.col-2,
	.col-3,
	.col-4{
		width: auto;
		float: none;
	}
	.col + .col {
		margin-left: 0;
	}
}

.col {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #777;
    padding: 5px;
    min-height: 30px;
    text-align: center;
}
